html {
    image-rendering: pixelated;
}

body {
    background-color: #faebd7;
}

a {
    text-decoration: none;
}



#header {
    text-align: center;
    padding: 7px;    
}

#navigation {
    text-align: center;
}


#navigation ul {
    list-style-type: none;
    padding: 0px;
}

#navigation li { 
    display: inline;
    margin: 10px;

}

#navigation a {
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 8px #000000;
    transition: 1s;
    
}

#navigation a:hover {
    color:#ff3700;
    text-shadow: 2px 2px 8px #ff3700;
    transition: 1s;
}

div.pics {
    margin: 47px;
    border: 1px solid #d3d3d3;
    float: left;
    width: 400px;
    transition: 1s;
  }
  
 
  div.pics:hover {
    border: 1px solid #000000;
    transition: 1s;
  }
  
  div.pics img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }

  #footer {
    clear: both;
    bottom:0;
  }

