/* html - body */
html {
    image-rendering: pixelated;
}


body {
    background-color: #faebd7;
    color: #000000;
    background-image: url("../img/omotopopo_bg_img_cycle_2022_03.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}


a {
    text-decoration: none;
}


/* Canvas */
#canvas {
    width: 1190px;
    margin-left: auto;
    margin-right: auto;
}

#header {
    text-align: left;
    padding: 7px;
}

#content {
    padding: 10px;
}

/* Canvas - Navigation */
#navigation li {
    display: inline;
    margin: 7px;
}

#navigation {
    text-align: left;
    padding: 7px;
}

#navigation a {
    list-style-type: none;
    color: #000000;
    text-shadow: 2px 2px 8px #000000;
    transition: 1s;
}

#navigation a:hover {
    color: #da6200;
    text-shadow: 2px 2px 8px #da6200;
    transition: 1s;
}

table {
    border-color: #000000;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color:#a7a282;
  }


/* Artworks */
#news {
    width: 500px;
    float: left
}

/* Sidebar - Update */
#sidebar {
    width: 504px;
    float: right;
    border-style: double;
    border-color: #000000;
    padding: 7px;
}

#update_00 {
    border-style: dotted;
    border-color: #000000;
    padding: 7px;
    margin: 5px;
}

#update_00 h4 {
    color: #000000;
    font-size: 14px;
}

#buttons {
    border-style: double;
    border-color: #000000;
    padding: 7px;
    margin: 5px;
}

/* Footer */
#footer {
    clear: both;
    padding: 7px;
}

/* Footer - Navigation */
#navigation_footer li {
    display: inline;
    margin: 7px;
}

#navigation_footer {
    text-align: left;
}

#navigation_footer a {
    font-size: 11px;
    list-style-type: none;
    color: #000000;
}

#navigation_footer a:hover {
    color: #000000;
}